.main-button {
  height: 36px;
  background-color: black;
  min-width: 60px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 2px;
}
.circle-button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
