.dashboard {
  background-color: rgb(131, 140, 145);
  height: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .list-container {
    margin-right: 24px;
    &:last-child {
      margin: 0;
    }
  }
}
